[submodule "repos/telemetry-api"]
	path = repos/telemetry-api
	url = git@github.com:eagletrt/telemetry-api.git
[submodule "repos/telemetry"]
	path = repos/telemetry
	url = git@github.com:eagletrt/telemetry.git
	branch = feat/influx-logger
[submodule "repos/influx-logger"]
	path = repos/influx-logger
	url = git@github.com:eagletrt/influx-logger.git
[submodule "repos/eagle-app"]
	path = repos/eagle-app
	url = git@github.com:eagletrt/eagle-app.git
