[submodule "repos/telemetry-api"]
	path = repos/telemetry-api
	url = git@github.com:eagletrt/telemetry-api.git
[submodule "repos/telemetry"]
	path = repos/telemetry
	url = git@github.com:eagletrt/telemetry.git
	branch = feat/influx-logger
[submodule "repos/eagle-app"]
	path = repos/eagle-app
	url = git@github.com:yellowmotion/eagle-app.git
  branch = feature/issue-14/deployment
